<!doctype html>
<html>
<head>
  <title>Bugsnag Python: Flask example</title>
</head>

<body>
  <div>
    <h1>Bugsnag Python: Flask example</h1>
  </div>

  <div>
    <h3>This page is a basic example of how to include bugsnag-python in a flask app.
    </h3>
  </div>

    <br>
  <h3>Start clicking!</h3>
    <div id="python">
        <p>PYTHON ERRORS</p>
          <button type="button" id="indexError">IndexError</button>
          <button type="button" id="nameError">NameError</button>
          <button type="button" id="typeError">TypeError</button>
    </div>

  </body>
  </html>
