<!DOCTYPE html>
<html>
<head>
    <title>Bugsnag Python: Django example</title>
</head>

<body>
    <div>
        <h1>Bugsnag Python: Django example</h1>
    </div>
    <div>
        <h3>This page is a basic example of how to include bugsnag-python in a django app.</h3>
    </div>
    <h3>Click below to send errors to your Bugsnag dashboard.</h3>
    <div id="python">
        <ul>
            <li>
                <a href="/notes/unhandled-crash">Uncaught exception</a>
            </li>
            <li>
                <a href="/notes/unhandled-template-crash">Template syntax error</a>
            </li>
            <li>
                <a href="/notes/handled-exception">Caught exception</button>
            </li>
            <li>
                <a href="/notes/handled-exception-custom">Caught exception with custom info</a>
            </li>
        </ul>
    </div>
</body>
</html>
